<section class="section-3">
  <div class="header-wrapper">
    <h1 class="title">
      Budget App
    </h1>
        <p class="description">
      A user-friendly app to help you track your expenses.
    </p>
    </div>
    <div class="button-wrapper">
      <%= button_to "SIGN IN", new_user_session_path, method: :get, class: 'login-button' %>
      <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: 'logout-buton' %>
  </div>
</section>